html,body,h1,h2,p,ul,li{
    padding: 0;
    margin: 0;
    list-style: none;
}

body{
    font-size: 62.5%;
}

.site-width{
    width: 980px;
    margin: auto;
    color: #8b4513;
}

/*
=======================
        header
=======================
 */

 header{
    height: 80px;
    background: #703f27;
    padding: 0;
    margin: 0;
    position: fixed;
    width: 100%;
}
ul.header-nav{
    float: right;
    list-style: none;
}
.header-nav li{
    float: left;
    font-size: 1.6rem;
    line-height: 80px;
}
.header-nav li:hover{
    text-decoration: underline;
}
.header-nav li a{
    text-decoration: none;
    color: black;
    margin-right: 25px;
    font-weight: bold;
    color: white;
}
h1.header-title{
    line-height: 80px;
    display: inline-block;
    padding-left: 100px;
    font-size: 2.6rem;
    color: white;
}
.header-title a{
    color: white;
    text-decoration: none;
}

/*
======================
        footer
======================
 */


 footer{
    background: #703f27;
    padding-bottom: 1rem;
}
ul.footer-nav{
    width: 30%;
    padding: 40px 0 60px 0;
    list-style: none;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.footer-nav li{
    border-right: solid white 1px;
    text-align: center;
    font-size: 0.9rem;
    flex: 1;
}
.footer-nav li:last-child{
    border: none;
}
.footer-nav li a{
    color: white;
    text-decoration: none;
}
.footer-nav li:hover{
    text-decoration: underline;
}
p.footer-coment{
    text-align: center;
    font-size: 1.12rem;
    color: white;
    margin: 0;
}
span.scroll{
    font-size: 2rem;
    color: white;
    padding: 5px 12px;
    background: #703f27;
    border-radius: 50%;
    position: relative;
    left: 48.8%;
    top: -25px;
    cursor: pointer;
}

/*
========================
        content
========================
 */

.form-top-container{
    height: 1100px;
    background-image: url('/img/form.jpg');
    background-size: 100% 1100px;
}
.form-container{
    padding-top: 240px;
}
.form-container{
    width: 50%;
    margin: auto;
}
input[type="text"],input[type="password"],input[type="tel"]{
    width: 100%;
    height: 37px;
    border: none;
    margin-bottom: 20px;
}
input[type="submit"]{
    background: #8b4513;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    float: right;
}
ul.form-ul a{
    text-decoration: none;
    color: #8b4513;
}
.form-ul li{
    float: left;
    border-right: solid 2px #8b4513;
    padding-right: 70px;
    padding-left: 70px;
    border-bottom: solid 2px #8b4513;
    padding-bottom: 10px;
}
.form-ul li:last-child{
    border: none;
    border-bottom: solid 2px #8b4513;
}
ul.form-ul{
    margin-bottom: 70px;
}
span.error{
    color: red;
}
.area-drop{
    position: relative;
    height: 200px;
    width: 200px;
    line-height: 200px;
    text-align: center;
    margin: 30px 0 30px 0;
    background: rgb(230, 230, 230);
    color: rgb(43, 43, 43);
    border-radius: 3px;
}
input[type="file"]{
    height: 200px;
    width: 200px;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 3px;
    z-index: 3;
}
.prev-img{
    height: 200px;
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
