html,body,h1,h2,p,ul,li{
    padding: 0;
    margin: 0;
    list-style: none;
}

body{
    font-size: 62.5%;
}

.site-width{
    width: 980px;
    margin: auto;
    color: #8b4513;
}

.my-contents{
    height: 400px;
    padding-top: 200px;
    position: relative;
}
.my-contents img{
    width: 250px;
    height: 250px;
}
.my-contents dl{
    display: inline-block;
    position: absolute;
    top: 252px;
    margin-left: 150px;
    font-size: 1.2rem;
}
.my-contents dt{
    background: -moz-linear-gradient(left, rgb(255, 149, 0), #FFF);
    background: -webkit-linear-gradient(left, rgb(255, 149, 0), #FFF);
    background: linear-gradient(to right, rgb(255, 149, 0), #FFF);
    margin-bottom: 10px;
    color: white;
}
.my-contents dd{
    margin-bottom: 30px;
}

.item-contents{
    height: 650px;
    border-top: solid rgb(255, 149, 0) 2px;
}
.item-container{
    overflow: hidden;
    margin-top: 30px;
    max-height: 550px;
    overflow: auto;
}
.item{
    width: 33%;
    float: left;
    border: solid 1px black;
    border-radius: 5px;
    margin: 0 -1px 0 0;
    height: 550px;
    font-size: 1.2rem;
}
.item img{
    width: 100%;
    margin: auto;
}
.comment{
    max-height: 63px;
    min-height: 63px;
    overflow: auto;
}
